body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    animation: backgroundPulse 5s infinite alternate; 
  }

  .container {
    text-align: center;
  }

  .heart {
    width: 50px;
    height: 50px;
    position: relative;
    animation: pulse 1s infinite;
    margin-bottom: 20px;
    
  }

  .heart:before,
  .heart:after {
    content: '';
    width: 50px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    position: absolute;
    background: red;
    top: -45px;
  }

  .heart:after {
    left: 30px;
    border-radius: 0 0 50px 50px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
  }

  .message {
    font-size: 24px;
    margin-bottom: 20px;
    animation: pulse 1s infinite; 
  }

  .hearts {
    font-size: 36px;
  }

  .creator {
    font-size: 14px;
    color: #888;
    margin-top: 40px;
  }

  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes backgroundPulse {
    0% {
      background-color: #f7f7f7;
    }
    100% {
      background-color: #ffe6e6;
    }
  }